.education-container {
    background-color: #e5e7eb;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.education-container:hover {
    transform: scale(1.05); /* Scale up */
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15); /* Add shadow */
  }

.education-logo {
    border-radius: 100%;
    width: 100%;
}

.education-name {
    background: linear-gradient(90deg, #34d399, #3b82f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
