.certification-container {
    background-color: #e5e7eb;
    border-radius: 10px;
    margin-right: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .certification-container:hover {
    transform: scale(1.05); /* Scale up */
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15); /* Add shadow */
  }
  
  .certification-logo {
    flex: 0 0 auto;
    margin-right: 20px;
  }
  
  .certification-logo img {
    width: 80px;
  }
  
  .certification-details {
    flex: 1;
  }
  
  .certification-title {
    color: #2563eb;
    text-decoration: none;
  }

  .certification-title:hover {
    text-decoration: underline;
  }
  